<h1>{{actorDetails.name}}</h1>

<img
  src="https://image.tmdb.org/t/p/original/{{actorDetails.profile_path}}"
  alt="{{actorDetails.name}}"
  width="200px"
/>
<p>{{actorDetails.biography}}</p>
<div class="list">
{{#each actorShows}}
<div class="each-list-show">
<p><a href="/shows/{{this.id}}/details"><img
        src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        alt="{{this.name}}"
        width="100"
        height="140"
        /></a></p>
        
    <p>
      {{this.name}}
    </p>
    </div>
{{/each}}
</div>