<div id="show-details">
   {{#if add}}
   <div id="toast-padre-add">
<div class="alert alert-success" role="alert">
  Your list has been updated.
</div>
</div>
<script>
  const toastElement = document.getElementById("toast-padre-add")
  toastElement.style.display = "flex"
  setTimeout(()=> {
    toastElement.style.display="none"
  },3000)

</script>

   {{/if}}

   {{#if comment}}
   <div id="toast-padre-review">
<div class="alert alert-warning" role="alert">
  Your review has been published.
</div>
</div>
<script>
  const toastElement = document.getElementById("toast-padre-review")
  toastElement.style.display = "flex"
  setTimeout(()=> {
    toastElement.style.display="none"
  },3000)

</script>

   {{/if}}

   <script>

</script>
  <div id="img-and-btn">
    {{#if arrData.poster_path}}
    <img
      src="https://image.tmdb.org/t/p/original/{{arrData.poster_path}}"
      alt="{{arrData.name}}"
      width="200px"
    />
    {{else}}
    <img
      src="/images/no-image.png"
      alt="{{arrData.name}}"
      width="200px"
    />
    {{/if}}
    <br />

    <form action="/shows/{{arrData.id}}/details" method="POST">
      <input id="heart" name="favChecked" {{#unless isUserActive}}disabled{{/unless}} type="checkbox" {{#if currentShow.isFav}}checked{{/if}} onChange="this.form.submit()"/>
      <label for="heart">❤</label>      
    </form>

    <form action="/shows/{{arrData.id}}/details" method="POST">
        <select name="status" id="status" >
            <option value="nostatus" {{#if (isSelected "nostatus" currentShow.status)}}selected{{/if}}>No list</option>
            <option value="pending" {{#if (isSelected "pending" currentShow.status)}}selected{{/if}}>Pending</option>
            <option value="watching" {{#if (isSelected "watching" currentShow.status)}}selected{{/if}}>Watching</option>
            <option value="watched" {{#if (isSelected "watched" currentShow.status)}}selected{{/if}}>Watched</option>
        </select>
      <button id="add-list-btn" {{#unless isUserActive}}disabled{{/unless}}>Add to list</button>
    </form>

    <h4>{{error}}</h4>


  </div>
  <div class="super-body">
    <div id="other-details">
      <h2 class="bold-title">{{arrData.name}}</h2>
      <h3>{{arrData.tagline}}</h3>
      <iframe id="ytplayer" width="700" height="400"
        src="https://www.youtube.com/embed/{{firstTrailer.key}}"
        frameborder="0"/></iframe>      
      <p class="overview">{{arrData.overview}}</p>
      <p>Seasons:{{arrData.number_of_seasons}}</p>
      <p>Average rate: {{arrData.vote_average}}</p>

      <div id="cast">
        {{#each actors}}
          <div id="each-actor">
            {{#if this.profile_path}}
            <a href="/cast/{{this.id}}/details">        
              <img
                src="https://image.tmdb.org/t/p/original/{{this.profile_path}}"
                alt="cast-picture"
                width="100px"
                height="145px"
              />
            </a>
            {{else}}
            <a href="/cast/{{this.id}}/details">        
              <img
                src="/images/no-image.png"
                alt="cast-picture"
                width="100px"
                height="145px"
              />
            </a>
            {{/if}}
            <p>{{this.name}}</p>
          </div>
        {{/each}}
      </div>
      <div id="reviews">
        
      {{#each review}}
      <div id="each-review">
        <div id="image-username">
          <img src="{{this.user.image}}" alt="user-image" width="40" height="40" class="rounded-circle">
          <div id="user-role">
            <p class="review-username">{{this.user.username}}</p>
            <p class="role">{{this.user.role}} {{#if this.user.isBanned}} <span class="role" style="color: red;">BANNED</span>{{/if}}</p>
          </div>
        
      
      

          <div class="row">
            <div class="col-md-12">
              <div class="stars"> 
            <input class="star"  type="radio" disabled/>

            <input class="star star-5"  type="radio" {{#if (starsSelected 5 this.star)}}checked{{/if}}/>
            <label class="star star-5"></label>

            <input class="star star-4" type="radio" {{#if (starsSelected 4 this.star)}}checked{{/if}}/>
            <label class="star star-4"></label>

            <input class="star star-3" type="radio" {{#if (starsSelected 3 this.star)}}checked{{/if}}/>
            <label class="star star-3"></label>

            <input class="star star-2" type="radio"{{#if (starsSelected 2 this.star)}}checked{{/if}}/>
            <label class="star star-2"></label>

            <input class="star star-1" type="radio" {{#if (starsSelected 1 this.star)}}checked{{/if}}/>
            <label class="star star-1"></label>

              </div>
            </div>
          </div>
        </div>

        <p class="review-title">{{#if this.user.isBanned}} <s> {{this.title}} </s>{{else}} {{this.title}} {{/if}}</p>
        
  
        <p>{{#if this.user.isBanned}} <s> {{#emojis this.review}}{{this}}{{/emojis}} </s>{{else}} {{#emojis this.review}}{{this}}{{/emojis}} {{/if}}</p>
        
        {{#if (isUser this.user.username ../this.session.user.username ../this.isUserAdmin)}}
        
        {{log this}}
        <form action="/shows/{{this.show}}/{{this._id}}/details/delete" method="POST">
          <button class="btn btn-danger delete-ban">DELETE</button>
        </form>
          {{/if}}
          {{#if ../this.isUserAdmin}}
          <form action="/shows/{{this.show}}/{{this.user._id}}/banned" method="POST">
            <button class="btn btn-warning delete-ban">BAN USER</button>
          </form>

          
        {{/if}}
      </div>
      {{/each}}

    </div>

      <div id="add-review">
        <h2>Add a review:</h2>

      <form action="/shows/{{arrData.id}}/details" method="POST">  

    {{!-- ESTO SON ESTRELLAS --}}
    <div class="container d-flex mt-200">
      

      <div class="row">
        <div class="col-md-12">
          <div class="stars">

          <input class="star star-5" id="star-5" type="radio" name="star" value="5" {{#if session.user.isBanned}}disabled{{/if}}/>
          <label class="star star-5" for="star-5"></label>

          <input class="star star-4" id="star-4" type="radio" name="star"value="4" {{#if session.user.isBanned}}disabled{{/if}}/>
          <label class="star star-4" for="star-4"></label>

          <input class="star star-3" id="star-3" type="radio" name="star"value="3" {{#if session.user.isBanned}}disabled{{/if}}/>
          <label class="star star-3" for="star-3"></label>

          <input class="star star-2" id="star-2" type="radio" name="star"value="2" {{#if session.user.isBanned}}disabled{{/if}}/>
          <label class="star star-2" for="star-2"></label>

          <input class="star star-1" id="star-1" type="radio" name="star"value="1" {{#if session.user.isBanned}}disabled{{/if}}/>
          <label class="star star-1" for="star-1"></label>

          </div>
        </div>
      </div>

    </div>

      <div id="review-title">
        <label for="title">Title</label>
        <input type="text" name="title" required="true" {{#if session.user.isBanned}}disabled{{/if}}/>
      </div>  
      <br>
      <div class="form-group">
        <label for="review">Review</label>
        <textarea class="review-text" id="mytextarea" rows="3" name="review"{{#if session.user.isBanned}}disabled{{/if}}></textarea>
      </div>


      <br>
      <p style="background-color: red">{{error}}</p>
      
      <button class="list-btn"{{#if session.user.isBanned}}disabled{{/if}}>Send review</button>
      {{#if session.user.isBanned}} <h4 style="color: red;">You're Banned</h4> {{/if}}
      </form>

      </div>
    </div>
  </div>
</div>

 <script>
   tinymce.init({
    selector: "#mytextarea",
    plugins: "emoticons",
    toolbar: "emoticons",
    toolbar_location: "bottom",
    height: 250,
    width: 550,
    menubar: false,
  });
 </script>
