<div id="show-details">
  <div id="img-and-btn">
    <img
      src="https://image.tmdb.org/t/p/original/{{arrData.poster_path}}"
      alt="{{arrData.name}}"
      width="200px"
    />
    <br />
 {{#if isUserActive}}
    <form action="/shows/{{arrData.id}}/details" method="POST">
      <input id="heart" name="favChecked" type="checkbox" {{#if currentShow.isFav}}checked{{/if}} onChange="this.form.submit()"/>
      <label for="heart">❤</label>      
    </form>

    <form action="/shows/{{arrData.id}}/details" method="POST">
        <select name="status" >
            <option value="nostatus" {{#if (isSelected "nostatus" currentShow.status)}}selected{{/if}}>No list</option>
            <option value="pending" {{#if (isSelected "pending" currentShow.status)}}selected{{/if}}>Pending</option>
            <option value="watching" {{#if (isSelected "watching" currentShow.status)}}selected{{/if}}>Watching</option>
            <option value="watched" {{#if (isSelected "watched" currentShow.status)}}selected{{/if}}>Watched</option>
        </select>
      <button>Add to list</button>
    </form>
    {{/if}}
    <h4>{{error}}</h4>


  </div>
  <div id="other-details">
    <h2>{{arrData.name}}</h2>
    <h3>{{arrData.tagline}}</h3>
    <p>{{arrData.overview}}</p>
    <p>Seasons:{{arrData.number_of_seasons}}</p>

    <p>Cast:</p>
    <div id="cast">
      {{#each actors}}
        <div id="each-actor">
          <a href="/cast/{{this.id}}/details">
            <img
              src="https://image.tmdb.org/t/p/original/{{this.profile_path}}"
              alt="cast-picture"
              width="100px"
              height="145"
            />
          </a>
          <p>{{this.name}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>