<h2>Keep Your TV</h2>

<div id="news">

</div>

<div

  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
        {{#each arrData}} 
       
       <div class="item {{#if @first }}active {{/if}}">
         <div class="carousel-item {{#if @first }}active {{/if}}">
         
         <a href="{{#getCarId ../arrData @index 0}}{{this}}{{/getCarId}}">
                       
            <img
              src="{{#getCarImg ../arrData @index 0}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
            />
            
          </a>
          <a href="{{#getCarId ../arrData @index 1}}{{this}}{{/getCarId}}">            
            <img
              src="{{#getCarImg ../arrData @index 1}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
            />
          </a>
          <a href="{{#getCarId ../arrData @index 2}}{{this}}{{/getCarId}}">               
            <img
              src="{{#getCarImg ../arrData @index 2}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
            />
          </a>
          <a href="{{#getCarId ../arrData @index 3}}{{this}}{{/getCarId}}">                
            <img
              src="{{#getCarImg ../arrData @index 3}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
            />
          </a>
         </div>
       </div>
        {{/each}}  
     </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

