<h2>Keep Your TV</h2>

<div id="news">
  <h1>NOTICIAS</h1>

</div>
<div class="bold-title">
<h3>TOP TV Shows</h3>
</div>
<div

  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner v-2">
        {{#each arrData}} 
       
       <div class="item {{#if @first }}active {{/if}}">
         <div class="carousel-item {{#if @first }}active {{/if}}">
         
         <a href="{{#getCarId ../arrData @index 0}}{{this}}{{/getCarId}}">                       
          <img
              src="{{#getCarImg ../arrData @index 0}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
              class="each-img"
            />
          </a>
         
          <a href="{{#getCarId ../arrData @index 1}}{{this}}{{/getCarId}}">            
            <img
              src="{{#getCarImg ../arrData @index 1}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
              class="each-img"
            />
          </a>
          <a href="{{#getCarId ../arrData @index 2}}{{this}}{{/getCarId}}">               
            <img
              src="{{#getCarImg ../arrData @index 2}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
              class="each-img"
            />
          </a>
          <a href="{{#getCarId ../arrData @index 3}}{{this}}{{/getCarId}}">               
            <img
              src="{{#getCarImg ../arrData @index 3}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
              class="each-img"
            />
          </a>
          
        
       </div>
       </div> 
        {{/each}} 
       
     </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true" ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

