<h2>Keep Your TV</h2>

<div id="news">

</div>

{{! <div id="popular"> }}
{{!-- 
  {{#each arrData}}

    <a href="/shows/{{this.id}}/details">
      <img
        src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        alt=""
        width="200px"
      />
    </a>
    <p>{{this.name}}</p>

  {{/each}}

</div> --}}

<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
       {{#each arrData}}
       
       <div class="item {{#if @first }}active {{/if}}">
         <div class="carousel-item {{#if @first }}active {{/if}}">
         <a href="/shows/{{this.id}}/details">                 
            <img
              src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
              alt=""
              width="200px"
            />
            </a>
         </div>
       </div>
       {{/each}}      
     </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>