<div id="news">
  
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="{{announcements.0.url}}">
      <h3>{{announcements.0.title}}</h3>     
      <img src="{{announcements.0.image}}" class="d-block carouselimg" alt="{{announcements.0.title}}">
      </a>
    </div>
    <div class="carousel-item">
      <a href="{{announcements.1.url}}">
      <h3>{{announcements.1.title}}</h3>
      <img src="{{announcements.1.image}}" class="d-block carouselimg" alt="{{announcements.0.title}}">
      </a>
    </div>
    <div class="carousel-item">
      <a href="{{announcements.2.url}}">
      <h3>{{announcements.2.title}}</h3>
      <img src="{{announcements.2.image}}" class="d-block carouselimg" alt="{{announcements.0.title}}">
      </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
<div class="bold-title">
<h3>TOP TV Shows</h3>
</div>
<div

  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner v-2">
        {{#each arrData}} 
       
       <div class="item {{#if @first }}active {{/if}}">
         <div class="carousel-item {{#if @first }}active {{/if}}">
         
         <a href="{{#getCarId ../arrData @index 0}}{{this}}{{/getCarId}}">                       
          <img
              src="{{#getCarImg ../arrData @index 0}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
              class="each-img"
            />
          </a>
         
          <a href="{{#getCarId ../arrData @index 1}}{{this}}{{/getCarId}}">            
            <img
              src="{{#getCarImg ../arrData @index 1}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
              class="each-img"
            />
          </a>
          <a href="{{#getCarId ../arrData @index 2}}{{this}}{{/getCarId}}">               
            <img
              src="{{#getCarImg ../arrData @index 2}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
              class="each-img"
            />
          </a>
          <a href="{{#getCarId ../arrData @index 3}}{{this}}{{/getCarId}}">               
            <img
              src="{{#getCarImg ../arrData @index 3}}{{this}}{{/getCarImg}}"
              alt=""
              width="200px"
              height="290px"
              class="each-img"
            />
          </a>
          
        
       </div>
       </div> 
        {{/each}} 
       
     </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true" ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

