<h2 class="bold-title">Search results</h2>
<div class="shows">

    {{#if showUser}}
    
        {{#each showUser}}
        <div class="each-show">
            <div id="user-image">
            <img src="{{this.image}}" alt="{{this.username}}">
            </div>
            <div class="show-data">
                <h2>{{this.username}}</h2>
                <h5>{{this.role}} </h5>                              
                <form action="/profile/{{this._id}}/add-friend" method="POST">
                    <button class="btn btn-success">Add friend</button>
                </form> 
            </div>           
        </div>
        {{/each}}
    {{/if}}
{{#each showFound}}
<div class="each-show">
    {{#if this.poster_path}}
    <a class="link" href="/shows/{{this.id}}/details">
        
        <img
        src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        alt=""
        width="200px"
        height="300"
        />
    </a>
    {{else}}
    <a class="link" href="/shows/{{this.id}}/details">
        
        <img
        src="/images/no-image.png"
        alt=""
        width="200px"
        height="300"
        />
    </a>
    {{/if}}
    <div class="show-data">
        <a class="link" href="/shows/{{this.id}}/details">
        <h3 id="title">{{this.name}}</h3>
        <p>{{this.overview}}</p>
        <p>Genre:
        {{#each this.newList}}
        | {{this.name}} |
        {{/each}}
        </p>
        <p>Average rate: {{this.vote_average}}</p>
        </a>
    </div>
</div>
{{/each}}
</div>