<h2 class="bold-title">Search results</h2>
<div class="shows">

    {{#if showUser}}
    <hr width="80%" style="height: 5px;color: #280157; border-radius: 5px">
        <h3 class="bold-title"> Users</h3>
     
        {{#each showUser}}
        <div class="each-show d-flex flex-row" >
            <div id="user-image" style="position: absolute">
            <img src="{{this.image}}" alt="{{this.username}}">
            </div>
            
            <div class="user-data">
                <div id="namerole">
                <h2>{{this.username}}</h2>
                <h5>{{this.role}} </h5>
                </div>
                <div id="buttons-friends">
                {{#if this.isFriend}}
                <form action="/profile/{{this._id}}/delete-friend" method="POST">
                    <button class="btn btn-danger" style="display: inline-block; text-align:center; width: 100px">Delete friend</button>
                </form>
                {{else}}
                <form action="/profile/{{this._id}}/add-friend" method="POST">
                    <button class="btn btn-success" style="display: inline-block; text-align:center; width: 100px">Add friend</button>
                </form>
                {{/if}}
                </div>
            </div>           
        </div>
        {{/each}}
    
    {{/if}}
    <hr width="80%" style="height: 5px;color: #280157; border-radius: 5px">
    <h3 class="bold-title">TV Shows</h3>
{{#each showFound}}
<div class="each-show">
    {{#if this.poster_path}}
    <a class="link" href="/shows/{{this.id}}/details">
        
        <img
        src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        alt=""
        width="200px"
        height="300"
        />
    </a>
    {{else}}
    <a class="link" href="/shows/{{this.id}}/details">
        
        <img
        src="/images/no-image.png"
        alt=""
        width="200px"
        height="300"
        />
    </a>
    {{/if}}
    <div class="show-data">
        <a class="link" href="/shows/{{this.id}}/details">
        <h3 id="title">{{this.name}}</h3>
        <p>{{this.overview}}</p>
        <p>Genre:
        {{#each this.newList}}
        | {{this.name}} |
        {{/each}}
        </p>
        <p>Average rate: {{this.vote_average}}</p>
        </a>
    </div>
</div>
{{/each}}
</div>