<h1 class="bold-title">Top Rated Shows</h1>
<div class="shows">
{{#each topShows}}

<div class="each-show">
        <a class="link" href="/shows/{{this.id}}/details">
        <img
        src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        alt=""
        width="200px"
        height="300px"
        />
        </a>
        <div class="show-data">
            <a class="link" href="/shows/{{this.id}}/details">
            <h3 id="title">{{this.name}}</h3>
            <p>{{this.overview}}</p>
            <p>Genre:
            {{#each this.newList}}
            | {{this.name}} |
            {{/each}}
            </p>
            <p>Average rate: {{this.vote_average}}</p>
            </a>
        </div>
        
    </div>
{{/each}}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/shows/1/top-shows">1</a></li>
    <li class="page-item"><a class="page-link" href="/shows/2/top-shows">2</a></li>
    <li class="page-item"><a class="page-link" href="/shows/3/top-shows">3</a></li>
    <li class="page-item"><a class="page-link" href="/shows/4/top-shows">4</a></li>
    <li class="page-item"><a class="page-link" href="/shows/5/top-shows">5</a></li>
  </ul>
</nav>
</div>